.container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    padding-top: 15px;
    border-color: black;
    margin-bottom: 20px;
    
  }
  
  .card {
     border: 2px solid black; 
    border-radius: 5px black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    height: 300px; /* Ajusta la altura según tu preferencia */
    width: 2000px;
    border-color: black;
   
  
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  

  
  .card-body {
    padding: 10px;
  }
  
  .card-text {
    font-size: 14px;
    margin: 10px 0;
    background-color: black;
    color: white;
  }

  .card-img-top {
    height: 200px;
    width: 100%;
  }
  
  /* Estilos para los enlaces */
  .text-decoration-none {
    text-decoration: none;
    color: #000; /* Cambia el color del enlace según tu preferencia */
  }
  
  /* Estilos para los enlaces en hover (opcional) */
  .text-decoration-none:hover {
    color: #007bff; /* Cambia el color en hover según tu preferencia */
  }
  