/* ItemList.css */
.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.col-md-4 {
  width: 30%;
  margin: 10px;
}

/* Estilo para las imágenes dentro de las tarjetas */
img {
  max-width: 50%;
  height: auto;
}
